.	.	.	.	.	.	x	x	x	x	x	x	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	x	x	x	x	x	x	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	x	x	x	x	x	x	.	.	.	.	.	.	.	.	.	.	.	.	.	.
.	.	.	.	.	.	x	x	x	x	x	x	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	x	x	x	x	x	x	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	x	x	x	x	x	x	.	.	.	.	.	.	.	.	.	.	.	.	.	.
.	.	.	.	.	.	y	y	y	y	y	y	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	y	y	y	y	y	y	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	y	y	y	y	y	y	.	.	.	.	.	.	.	.	.	.	.	.	.	.
l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l
l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l
l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l
l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l
l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l
l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l
l	l	l	l	.	.	x	x	x	x	x	x	y	y	y	y	y	y	y	y	y	y	l	l	l	l	.	.	x	x	x	x	x	x	y	y	y	y	y	y	y	y	y	y	l	l	l	l	.	.	x	x	x	x	x	x	y	y	y	y	y	y	y	y	y	y	l	l	l	l
l	l	l	l	.	.	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	.	.	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	.	.	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l
r	r	.	.	.	.	y	y	y	y	y	y	x	x	x	x	x	x	x	x	x	x	r	r	.	.	.	.	y	y	y	y	y	y	x	x	x	x	x	x	x	x	x	x	r	r	.	.	.	.	y	y	y	y	y	y	x	x	x	x	x	x	x	x	x	x	r	r	.	.
l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l
l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l
l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l
l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l
l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l
l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l
l	l	l	l	.	.	x	x	x	x	x	x	y	y	y	y	y	y	y	y	y	y	l	l	l	l	.	.	x	x	x	x	x	x	y	y	y	y	y	y	y	y	y	y	l	l	l	l	.	.	x	x	x	x	x	x	y	y	y	y	y	y	y	y	y	y	l	l	l	l
l	l	l	l	.	.	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	.	.	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	.	.	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l
r	r	.	.	.	.	y	y	y	y	y	y	x	x	x	x	x	x	x	x	x	x	r	r	.	.	.	.	y	y	y	y	y	y	x	x	x	x	x	x	x	x	x	x	r	r	.	.	.	.	y	y	y	y	y	y	x	x	x	x	x	x	x	x	x	x	r	r	.	.
l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l
l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l
l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l
l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l
l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l
l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l
l	l	l	l	.	.	x	x	x	x	x	x	y	y	y	y	y	y	y	y	y	y	l	l	l	l	.	.	x	x	x	x	x	x	y	y	y	y	y	y	y	y	y	y	l	l	l	l	.	.	x	x	x	x	x	x	y	y	y	y	y	y	y	y	y	y	l	l	l	l
l	l	l	l	.	.	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	.	.	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	.	.	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l
r	r	.	.	.	.	y	y	y	y	y	y	x	x	x	x	x	x	x	x	x	x	r	r	.	.	.	.	y	y	y	y	y	y	x	x	x	x	x	x	x	x	x	x	r	r	.	.	.	.	y	y	y	y	y	y	x	x	x	x	x	x	x	x	x	x	r	r	.	.
l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l
l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l
l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l
l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l
l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l
l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	x	l	l	l	l
l	l	l	l	.	.	.	.	.	.	.	.	y	y	y	y	y	y	y	y	y	y	l	l	l	l	.	.	.	.	.	.	.	.	y	y	y	y	y	y	y	y	y	y	l	l	l	l	.	.	.	.	.	.	.	.	y	y	y	y	y	y	y	y	y	y	l	l	l	l
l	l	l	l	.	.	.	.	.	.	.	.	x	x	x	x	x	x	x	x	x	x	l	l	l	l	.	.	.	.	.	.	.	.	x	x	x	x	x	x	x	x	x	x	l	l	l	l	.	.	.	.	.	.	.	.	x	x	x	x	x	x	x	x	x	x	l	l	l	l
r	r	.	.	.	.	.	.	.	.	.	.	x	x	x	x	x	x	x	x	x	x	r	r	.	.	.	.	.	.	.	.	.	.	x	x	x	x	x	x	x	x	x	x	r	r	.	.	.	.	.	.	.	.	.	.	x	x	x	x	x	x	x	x	x	x	r	r	.	.
.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.	.